In [1]:
#importing necessary libraries
import pandas as pd
import datetime

#read a csvfile into dataframe
df1=pd.read_csv("Expiration Pull Out.csv")

In [2]:
#dropping unnecessary columns form the dataframe
df1.drop(columns=["Unnamed: 0","Location ID","Location Name","Product ID","Is Pull from Shelf Day? (Yes / No)"], axis=1, inplace=True)

In [3]:
#clean up posiiton id column
df1["Position ID"]=df1["Position ID"].str.replace(r"\(.*\)", " ",regex=True)

In [4]:
df1.tail()

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
58,5010292963094,"Squeaky Bean Pastrami, 90g",Ready to Eat,D1C-B-01,2,2022-06-13
59,"1000000000054, 1912318899138, 1912394134808","Cherry Tomatoes, 250g",Fruit & Veg,L4C-D-01,1,2022-06-06
60,"1000000006629, 5023734176501","Brand Coleslaw, 200g",Fruit & Veg,L8C-B-01,1,2022-06-12
61,4060800302717,"Pepsi Max Raspberry, 500ml",Soft Drinks,C13C-A-01,30,2022-06-29
62,5010044009643,"Warburtons The Big 21, 700g",Bakery,K10A-D-01,1,2022-06-12

In [5]:
#convert expiration date to datetime format 
df1["Expiration Date"]=pd.to_datetime(df1["Expiration Date"]).dt.date

In [6]:
#view the array of categories 
cats=df1["Category"].unique()

cats

array(['Snacks', 'Fruit & Veg', 'Meat & Fish', 'Beer', 'Baby',
       'Eggs & Dairy', 'Soft Drinks', 'Ready to Eat', 'Toiletries',
       'Health', 'Bakery', 'Ice Cream', 'Pets', 'Spirits',
       'Meal Components', 'Sweets'], dtype=object)

In [7]:
#create a conditinal statment to calculate expiry date based on product category
#30 days for baby products, 1 day for ready to eat, two days for baker, eggs, dairy , fruit and Veg
#7 days for rest of the category

one_day_pull=pd.array(["Ready to Eat","Fruit & Veg"])
month_pull=pd.array(["Baby"])
two_day_pull=pd.array(["Fruit & Veg","Eggs & Dairy","Bakery","Meat & Fish"])

In [8]:
#using integer locaiton indexer to acces cells or row 
df1.iloc[0]

EAN (UPC)                               5010251436515
Product Name            Morrisons Prawn Crackers, 80g
Category                                       Snacks
Position ID                               I14A-D-01
Pull From Shelf Days                                7
Expiration Date                            2022-06-17
Name: 0, dtype: object

In [9]:
#iloc indexer can be used to grab a data in a specific cell. We can pass row index folowed by column index for that
df1.iloc[0,1]

'Morrisons Prawn Crackers, 80g'

In [10]:
#you can also use loc indexer to get cell or row (does not have to be only integer)
#pasisng list
df1.loc[0,"Category"]

'Snacks'

In [11]:
#you can get series with boolean values using comparision operator
bakery_check=df1["Category"]=="Bakery"
df1[bakery_check]

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
21,5010044009667,"Warburtons Make it Grain, 700g",Bakery,K10A-B-01,1,2022-06-11
35,5010044007830,"Warburtons Gluten Free Artisan Tiger Bloomer, ...",Bakery,K10A-C-01,1,2022-06-12
38,5010525166025,"Morrisons Jubilee Corgi Cake, 600g",Bakery,K4A-A-01,1,2022-06-11
42,5010044009650,"Warburtons Plant Power, 700g",Bakery,K10A-C-01,1,2022-06-12
50,5010044009384,"Warburtons Gluten Free Super Soft White Rolls,...",Bakery,K10A-C-01,1,2022-06-12
62,5010044009643,"Warburtons The Big 21, 700g",Bakery,K10A-D-01,1,2022-06-12

In [12]:
#need to use isin()  method to check for membership or as membership operator ( to see if the value is in a list or an iterable)

#create a filter
fil=df1["Category"].isin(two_day_pull)

#using the filter created to filter the dataframe
df1.loc[fil]

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
1,1000000000535,"Rocket Leaves, 60g",Fruit & Veg,L4C-B-01,1,2022-06-11
2,5010525121031,"Morrisons Salmon Portions, 240g",Meat & Fish,C19C-E-01,1,2022-06-12
4,5060678710057,"THIS Isn't Bacon Plant-Based Rashers, 120g",Meat & Fish,D2C-E-01,1,2022-06-11
6,5411188118121,Alpro No Sugars Plant Based Alternative to Yog...,Eggs & Dairy,K9C-E-01,2,2022-06-11
8,1000000001334,"Baby Spinach, 125g",Fruit & Veg,L5C-B-01,1,2022-06-12
12,5010251614555,"Morrisons Eggs Organic, 6s",Eggs & Dairy,K10A-A-01,2,2022-06-08
15,"5060626400375, 5060626400443","The Meatless Farm 2 Meat Free Burgers, 227g",Meat & Fish,D2C-C-01,1,2022-06-12
19,1000000000535,"Rocket Leaves, 60g",Fruit & Veg,L4C-B-01,1,2022-06-12
21,5010044009667,"Warburtons Make it Grain, 700g",Bakery,K10A-B-01,1,2022-06-11
30,5391115000302,"Nomadic Strawberry Yoghurt & Oat Clusters, 169g",Eggs & Dairy,K8C-C-01,1,2022-06-12
31,5060426812460,Coconut Collaborative Greek Style Almond & Coc...,Eggs & Dairy,K12C-C-01,1,2022-06-12
33,5010525119045,"Morrisons Conference Pears, 4pcs",Fruit & Veg,L6A-C-01,1,2022-06-12
35,5010044007830,"Warburtons Gluten Free Artisan Tiger Bloomer, ...",Bakery,K10A-C-01,1,2022-06-12
38,5010525166025,"Morrisons Jubilee Corgi Cake, 600g",Bakery,K4A-A-01,1,2022-06-11
39,1000000001242,"Red Sweet Pepper, 1pcs",Fruit & Veg,L5C-B-01,1,2022-06-06
42,5010044009650,"Warburtons Plant Power, 700g",Bakery,K10A-C-01,1,2022-06-12
48,5010251743828,"Morrisons Sweetcorn Cobs, 2pcs",Fruit & Veg,L2C-D-01,1,2022-06-11
50,5010044009384,"Warburtons Gluten Free Super Soft White Rolls,...",Bakery,K10A-C-01,1,2022-06-12
59,"1000000000054, 1912318899138, 1912394134808","Cherry Tomatoes, 250g",Fruit & Veg,L4C-D-01,1,2022-06-06
60,"1000000006629, 5023734176501","Brand Coleslaw, 200g",Fruit & Veg,L8C-B-01,1,2022-06-12
62,5010044009643,"Warburtons The Big 21, 700g",Bakery,K10A-D-01,1,2022-06-12

In [13]:
#create a loop to check which category the producrt falls into

#grabbing category series
cats=df1["Category"]
exp_dates=df1["Expiration Date"]

In [14]:
def pulldate(cats,exp_dates):
    pull_dates=[]
    one_day=datetime.timedelta(1)
    two_day=datetime.timedelta(2)
    month_day=datetime.timedelta(30)
    seven_day=datetime.timedelta(7)
    for i in range(0,len(cats)):
        if cats[i] in one_day_pull:
            days=exp_dates[i]-one_day
            pull_dates.append(days)
        elif cats[i] in two_day_pull:
            days=exp_dates[i]-two_day
            pull_dates.append(days)
        elif cats[i] in month_pull:
            days=exp_dates[i]-month_day
            pull_dates.append(days)
        else:
            days=exp_dates[i]-seven_day
            pull_dates.append(days)
            
    return pull_dates

In [15]:
pullOut_dates=pd.Series(pulldate(cats,exp_dates))
pullOut_dates=pullOut_dates

In [16]:
df1["Pull Out Date"]=pullOut_dates

In [17]:
today_date=pd.to_datetime("today").date()

In [18]:
today_date

datetime.date(2022, 6, 14)

In [19]:

filt=df1["Pull Out Date"]<=today_date
filt.value_counts()

True     44
False    19
Name: Pull Out Date, dtype: int64

In [20]:
df2=df1[filt]

In [21]:
#create a filter to drop fruit and veg row
df2=df2[~(df2["Category"]=="Fruit & Veg")]

In [37]:
df3=df1.drop("Pull Out Date",axis=1)
recom_dates=df1["Pull From Shelf Days"]
recom_pulldates=list()
for i in range(0,len(recom_dates)):
    recom_days=datetime.timedelta(int(recom_dates[i]))
    recom_pulldate=exp_dates[i]-recom_days
    recom_pulldates.append(recom_pulldate)

In [40]:
df3["Recommended Pull Out Date"]=recom_pulldates

In [41]:
df2.to_csv("Expiration_Pull_Out_clean2.csv",index=False)
df1.to_csv("Expiration_Pull_Out_clean1.csv",index=False)
df3.to_csv("Expiration_Pull_Out_clean3_recommendeddate.csv",index=False)
print("Three csv file has been created")
input("Press Enter to exit")

Three csv file has been created
Press Enter to exit

''