In [1]:
#importing necessary libraries
import pandas as pd
import datetime

#read a csvfile into dataframe
df1=pd.read_csv("Expiration Pull Out.csv")

In [2]:
#dropping unnecessary columns form the dataframe
df1.drop(columns=["Unnamed: 0","Location ID","Location Name","Product ID","Is Pull from Shelf Day? (Yes / No)"], axis=1, inplace=True)

In [3]:
#clean up posiiton id column
df1["Position ID"]=df1["Position ID"].str.replace(r"\(.*\)", " ",regex=True)

In [4]:
df1.tail()

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
42,5010525119045,"Morrisons Conference Pears, 4pcs",Fruit & Veg,L6A-C-01,1,2022-06-07
43,5014067332450,"The Collective Gourmet Passion Fruit Yoghurt, ...",Eggs & Dairy,K9C-C-01,2,2022-06-08
44,5060782390008,"Arrowtown Lime & Elderflower Hard Seltzer, 330ml",Spirits,M1A-C-01,30,2022-06-17
45,4062300139008,"Hipp Organic First Infant Milk, 800g",Baby,E4A-D-01,50,2022-07-14
46,"5022313751047, 5022313729824","Tropicana Orange Juice Smooth, 250ml",Soft Drinks,C11C-B-01,3,2022-06-08

In [5]:
#convert expiration date to datetime format 
df1["Expiration Date"]=pd.to_datetime(df1["Expiration Date"]).dt.date

In [6]:
#view the array of categories 
cats=df1["Category"].unique()

cats

array(['Snacks', 'Soft Drinks', 'Toiletries', 'Ice Cream', 'Beer',
       'Bakery', 'Fruit & Veg', 'Sweets', 'Eggs & Dairy', 'Ready to Eat',
       'Spirits', 'Meal Components', 'Meat & Fish', 'Baby', 'Pets'],
      dtype=object)

In [7]:
#create a conditinal statment to calculate expiry date based on product category
#30 days for baby products, 1 day for ready to eat, two days for baker, eggs, dairy , fruit and Veg
#7 days for rest of the category

one_day_pull=pd.array(["Ready to Eat","Fruit & Veg"])
month_pull=pd.array(["Baby"])
two_day_pull=pd.array(["Fruit & Veg","Eggs & Dairy","Bakery","Meat & Fish"])

In [8]:
#using integer locaiton indexer to acces cells or row 
df1.iloc[0]

EAN (UPC)                                         5060549450112
Product Name            The Curators Original Beef Biltong, 28g
Category                                                 Snacks
Position ID                                         I13A-D-01
Pull From Shelf Days                                          7
Expiration Date                                      2022-06-14
Name: 0, dtype: object

In [9]:
#iloc indexer can be used to grab a data in a specific cell. We can pass row index folowed by column index for that
df1.iloc[0,1]

'The Curators Original Beef Biltong, 28g'

In [10]:
#you can also use loc indexer to get cell or row (does not have to be only integer)
#pasisng list
df1.loc[0,"Category"]

'Snacks'

In [11]:
#you can get series with boolean values using comparision operator
bakery_check=df1["Category"]=="Bakery"
df1[bakery_check]

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
5,5010251931348,"Morrisons Shortbread Mini Bites, 20pcs",Bakery,K4A-B-01,2,2022-06-09
35,5010044009384,"Warburtons Gluten Free Super Soft White Rolls,...",Bakery,K10A-C-01,1,2022-06-08

In [12]:
#need to use isin()  method to check for membership or as membership operator ( to see if the value is in a list or an iterable)

#create a filter
fil=df1["Category"].isin(two_day_pull)

#using the filter created to filter the dataframe
df1.loc[fil]

,EAN (UPC),Product Name,Category,Position ID,Pull From Shelf Days,Expiration Date
5,5010251931348,"Morrisons Shortbread Mini Bites, 20pcs",Bakery,K4A-B-01,2,2022-06-09
6,"1000000000054, 1912318899138, 1912394134808","Cherry Tomatoes, 250g",Fruit & Veg,L4C-D-01,1,2022-06-06
8,1000000000535,"Rocket Leaves, 60g",Fruit & Veg,L4C-B-01,1,2022-06-08
9,5010251730552,"Morrisons Carrot Batons, 325g",Fruit & Veg,L4C-E-01,1,2022-06-08
12,5056138201319,The Collective Dairy-Free Passion Fruit Yoghur...,Eggs & Dairy,L8C-E-01,2,2022-06-08
14,1000000000955,"Chiquita Bananas, 1bunch",Fruit & Veg,L3A-A-01,1,2022-06-06
20,1000000001242,"Red Sweet Pepper, 1pcs",Fruit & Veg,L5C-B-01,1,2022-06-06
25,5010525121031,"Morrisons Salmon Portions, 240g",Meat & Fish,C19C-E-01,1,2022-06-08
28,1000000006636,"Brand Braeburn apples, 6pcs",Fruit & Veg,L6A-D-01,1,2022-06-07
30,1000000001334,"Baby Spinach, 125g",Fruit & Veg,L5C-B-01,1,2022-06-08
32,5010251614555,"Morrisons Eggs Organic, 6s",Eggs & Dairy,K10A-A-01,2,2022-06-08
35,5010044009384,"Warburtons Gluten Free Super Soft White Rolls,...",Bakery,K10A-C-01,1,2022-06-08
42,5010525119045,"Morrisons Conference Pears, 4pcs",Fruit & Veg,L6A-C-01,1,2022-06-07
43,5014067332450,"The Collective Gourmet Passion Fruit Yoghurt, ...",Eggs & Dairy,K9C-C-01,2,2022-06-08

In [13]:
#create a loop to check which category the producrt falls into

#grabbing category series
cats=df1["Category"]
exp_dates=df1["Expiration Date"]

In [14]:
def pulldate(cats,exp_dates):
    pull_dates=[]
    one_day=datetime.timedelta(1)
    two_day=datetime.timedelta(2)
    month_day=datetime.timedelta(30)
    seven_day=datetime.timedelta(7)
    for i in range(0,len(cats)):
        if cats[i] in one_day_pull:
            days=exp_dates[i]-one_day
            pull_dates.append(days)
        elif cats[i] in two_day_pull:
            days=exp_dates[i]-two_day
            pull_dates.append(days)
        elif cats[i] in month_pull:
            days=exp_dates[i]-month_day
            pull_dates.append(days)
        else:
            days=exp_dates[i]-seven_day
            pull_dates.append(days)
            
    return pull_dates

In [15]:
pullOut_dates=pd.Series(pulldate(cats,exp_dates))
pullOut_dates=pullOut_dates

In [16]:
df1["Pull Out Date"]=pullOut_dates

In [17]:
# df1.to_csv("Expiration_Pull_Out_Clean.csv",index=False)
# print("A csv file has been created")
# input("Press a button to exit")

In [18]:
today_date=pd.to_datetime("today").date()

In [19]:
today_date

datetime.date(2022, 6, 10)

In [20]:

filt=df1["Pull Out Date"]<=today_date
filt.value_counts()

True     31
False    16
Name: Pull Out Date, dtype: int64

In [21]:
df2=df1[filt]

47

In [22]:
#create a filter to drop fruit and veg row
df2=df2[~(df2["Category"]=="Fruit & Veg")]

In [23]:
df2.to_csv("Expiration_Pull_Out_clean2.csv",index=False)
df1.to_csv("Expiration_Pull_Out_clean1.csv",index=False)
print("TWo csv file has been created")
input("Press Enter to exit")

TWo csv file has been created
Press Enter to exit

''